fieldset{
    border-radius: 5px;
    padding:15px;
    margin: 20px;
    margin-bottom: 10px;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,89,177,0.644782913165266) 86%, rgba(0,212,255,1) 100%);
    color:rgb(255, 255, 255)
}

*{
    text-transform: capitalize;
}

.container{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    height: 780px;
    width: 800px;
    margin-left: 400px;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,89,177,0.644782913165266) 86%, rgba(0,212,255,1) 100%);
}

form{
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    background-color: rgba(0, 0, 0, 0.453);
    text-align: center;
    border: 1px solid black;
    width: 800px;
    height: 40px;
    margin: 0px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item{
    width: 600px;
    height: 30px;
    font-size:medium;
    text-transform: none;
    border-radius: 5px;
}

.age{
    width: 50px;
    height: 25px;
    border-radius: 5px;
}

select{
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

p,button{
    margin: 20px;
    margin-top: 4px;
}

button{
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,89,177,0.8744747899159664) 20%, rgba(0,212,255,1) 100%);
    margin-left: 320px;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,240,240,0.6279761904761905) 20%, rgba(0,212,255,1) 100%);
}

button:visited{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,252,255,0) 20%, rgba(0,212,255,1) 100%);
}