<% if(action =="signup") { %>
    <!-- signup form -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- meta tag and title tag -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sign up</title>
    
        <!-- linking style sheet to html file -->
        <link rel="stylesheet" href="/stylesheets/signup.css">
        
    </head>
    <body>
        <div class="container">
            <h1>sign up form </h1>
    
        <!-- form for getting the data from customer  -->
        <form method="POST" action="/post_service/add_data_for_c/">
            <p>
                fill the all field  
            </p>
            <p>
                <fieldset>
                    <!-- getting Personal details like name,address,city,state,post office -->
                    <legend>Personal details</legend>
                    Name : <input type="text" name="name" id="" class="item"> <br><br>
                    Address : <input type="address" name="address" id="" class="item"> <br><br>
    
                    City : <select name="city" id="" style="width: 150px;">
                        <option value="">------- select city -------</option>
                        <option value="mumbhai">mumbhai</option>
                        <option value="pune">pune</option>
                        <option value="nashik">nashik</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                    State : <select name="state" id="" style="width: 150px;">
                        <option value="">------ select state------</option>
                        <option value="maharashtra">maharashtra</option>
                        <option value="gujrat">gujrat</option>
                        <option value="punjab">punjab</option>
                    </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Age : <input type="number" name="age" id="" class="age"><br><br>
    
                    post office : <input type="text" name="post_office" id="" class="item"><br><br>
    
                    Profession : <input type="text" name="profession" id="" class="item" style="margin-top: 5px;">
                </fieldset>
            </p>
    
            <p>
                <fieldset>
                    <!-- getting contact details like mobile no -->
                    <legend>Contact details</legend>
                    Mobile no : <input type="number" name="mobile_no" id="" style="width: 200px;" class="item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Email : <input type="email" name="email" id="" style="width: 200px;" class="item"><br>
                </fieldset>
            </p>
    
            <p>
                <fieldset >
                    <!-- getting login details like mobile no -->
                    <legend>Login details</legend>
                    Username : <input type="text" name="username" id="" class="item"><br><br>
                    Password : <input type="password" name="password" id="" class="item">
                </fieldset>
            </p>
            <input type="submit" value="submit" />
        </form>
        </div>
    </body>
    </html>
    
    <% } else if(action == "login") { %> 
        <!-- login for customer -->
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Log In </title>

            <!-- for icons (https://fontawesome.com/)-->
            <script src="https://kit.fontawesome.com/15bb91724c.js" crossorigin="anonymous"></script>
            
            <!-- linking style sheet to html file -->
            <link rel="stylesheet" href="/stylesheets/login.css">
        </head>
        <body>
            <div class="container">
                <i class="fa-solid fa-circle-user user" style="font-size: 150px"></i><br>
                <form method="POST" action="/post_service/up">
                <i class="fa-solid fa-user"  style="font-size: 30px"></i> <input type="text" name="username" id="" placeholder="   User Name"><br>
                <i class="fa-solid fa-lock" style="font-size: 30px"></i></i> <input type="password" name="password" id="" placeholder="   Password"><br>
                <p><input type="checkbox" name="" id="me">Remember me <a href="">Forget Password?</a></p><br>
                <input type="submit" value="Log In"> 
                </form>
            </div>
        </body>
        </html>

    <% } else if(action == "index") { %> 
        <!-- index page for customer -->
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>

    <!-- linking style sheet to html file -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    
    <!-- for icons (https://fontawesome.com/)-->
    <script src="https://kit.fontawesome.com/15bb91724c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--container for  img -->
    <div class="container">
        <div><img src="/images/post_office.png" alt="Post Office"></div> 
        <div><img src="/images/Satyamev Jayate.png" alt="Satyamev Jayate" style="margin-left: 700px;"></div>
    </div>
    
    <!-- nav bar  -->
    <nav>
        <h1>welcome <%= sampleData.customer_name %> </h1> 
        <input type="text" placeholder="Search"> <button>Search</button>

        <!-- dropdown for profile and change password  -->
        <div class="dropdown" >
            <i class="fa-solid fa-circle-user dropbtn" style="font-size:30px;" onclick="myFunction()"></i> 
            <div class="dropdown-content" id="myDropdown">
            <a href="post_service/profile/<%= sampleData.id %>" class="drop">profile</a> 
            <a href="changePassword.html" class="drop">change password</a>
            <a href="#" class="drop">log out</a>
            </div>
        </div>
    </nav>

    <div class="container" style="padding: 0;">
        <!--for side bar  -->
        <div class="sidebar">
            <a href="" class="item1" style="background-color: rgb(38, 36, 36);box-shadow: 1px 1px 20px rgb(44, 13, 13); font-size: 20px;font-style: italic; color: white;">Home</a>
            <a href="" class="item1">All scheme</a>
            <a href="" class="item1">My applied scheme</a>
            <a href="" class="item1">agent list</a>
            <a href="" class="item1">Payment</a>
            <a href="" class="item1">chats</a>
            <a href="" class="item1">Applied history</a>
            <a href="" class="item1">Complaint</a>
        </div>

        <!--for content  -->
        <div class="content">
            <h3>suggested schemes</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Condition</th>
                    <th>Benifits</th>
                    <th>Take Action</th>
                    <th>Download </th>
                </tr>

                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px">
                        <a href="#">apply</a>&nbsp;|&nbsp;
                        <a href="#">select agent </a> 
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>

                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>

                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>

                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>

                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
            </table>
        </div>
    </div><hr>
    
    <!-- footer  -->
    <div class="footer">
        <p>
            <i class="fa-brands fa-facebook" style="font-size:20px; color: #0165E1;"></i><i class="fa-brands fa-youtube" style="font-size:20px; color: #df4343;"></i><i class="fa-brands fa-instagram" style="font-size:20px; color: #C13584;"></i>
        </p>
        &copy; 2021 copyrights. &nbsp;<a href="">terms & condition </a>&nbsp;|&nbsp; <a href="" style="margin-right: 15px;">FAQ</a> 
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
        </script>
</body>
</html>

<% } else if( action == "allscheme" ) { %>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all scheme</title>

    <!-- linking style sheet to html file -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    
    <!-- for icons (https://fontawesome.com/)-->
    <script src="https://kit.fontawesome.com/15bb91724c.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--container for  img -->
    <!--container for  img -->
    <div class="container">
        <div><img src="post_office.png" alt="Post Office"></div> 
        <div><img src="Satyamev Jayate.png" alt="Satyamev Jayate" style="margin-left: 700px;"></div>
    </div>
    
    <!-- nav bar  -->
    <nav>
        <h1>welcome <%= sampleData.customer_name %> </h1> 
        <input type="text" placeholder="Search"> <button>Search</button>

        <!-- dropdown for profile and change password  -->
        <div class="dropdown" >
            <i class="fa-solid fa-circle-user dropbtn" style="font-size:30px;" onclick="myFunction()"></i> 
            <div class="dropdown-content" id="myDropdown">
            <a href="profile.html" class="drop">profile</a> 
            <a href="changePassword.html" class="drop">change password</a>
            <a href="#" class="drop">log out</a>
            </div>
        </div>
    </nav>

    <div class="container" style="padding: 0;">
        <!--for side bar  -->
        <div class="sidebar">
            <a href="index.html" class="item1">Home</a>
            <a href="allscheme.html" class="item1" style="background-color: rgb(38, 36, 36);box-shadow: 1px 1px 20px rgb(44, 13, 13); font-size: 20px;font-style: italic; color: white;">All scheme</a>
            <a href="myappliedscheme.html" class="item1">My applied scheme</a>
            <a href="agentlist.html" class="item1">agent list</a>
            <a href="payment.html" class="item1">Payment</a>
            <a href="chats.html" class="item1">chats</a>
            <a href="appliedhistory.html" class="item1">Applied history</a>
            <a href="complaint.html" class="item1">Complaint</a>
        </div>

        <!--for content  -->
        <div class="content">
            <h3>all schemes</h3>
        
            <b style="text-transform: capitalize;">scheme name</b> <br>
            <input type="text" name="scheme" id="" style="margin-top: 10px; margin-bottom: 10px; height: 40px; width: 400px; "> 
            <button>Search</button>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Condition</th>
                    <th>Benifits</th>
                    <th>Take Action</th>
                    <th>Download </th>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px">
                        <a href="#">select agent </a> &nbsp;|&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
        
                <tr>
                    <td>n1</td>
                    <td>c1</td>
                    <td>b1</td>
                    <td style="width:300px;">
                        <a href="#">select agent </a>&nbsp; |&nbsp;
                        <a href="#">upload document</a>
                    </td>
                    <td><a href="#">pdf</a></td>
                </tr>
            </table>
        </div>
    </div><hr>
    
    <!-- footer  -->
    <div class="footer">
        <p>
            <i class="fa-brands fa-facebook" style="font-size:20px; color: #0165E1;"></i><i class="fa-brands fa-youtube" style="font-size:20px; color: #df4343;"></i><i class="fa-brands fa-instagram" style="font-size:20px; color: #C13584;"></i>
        </p>
        &copy; 2021 copyrights. &nbsp;<a href="">terms & condition </a>&nbsp;|&nbsp; <a href="" style="margin-right: 15px;">FAQ</a> 
    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
        </script>
</body>
</html>
<% }  %>   